body {
    font-family: "Kanit", sans-serif;
    background-color: #fdb515;
}

.umbc-red {
    color: #da2128DD;
}
.umbc-white {
    color: #F4F6FF;
}
.umbc-gold {
    color: #fdb515;
}
.umbc-brown {
    color: #a67a05;
}

/* ------------------------------------------------------------------------------------- */
/* Header styling */
.login-header {
    height: 60px; /* Fixed height for the header */
    font-size: 2.25rem;
    font-style: italic;
    font-weight: 500;
}

.header-text-underline {
    /* text-decoration-skip-ink: none;
    text-decoration: underline solid #da2128DD .2rem;
    text-decoration: underline solid #F4F6FF .1rem; */
    background-image: linear-gradient(to right,#F4F6FF,#fdb515);
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-size: 100% 7%;
    width: fit-content;
}
/* bootstrap car icon */
.bi-car-front{
    font-size: 1.75rem;
}

/* -------------------------------------------------------------------------------------- */
/* Content Section: Fills remaining space between header and footer */
.content-section {
    flex-grow: 1; /* Fills space between header and footer */
}

/* Default form container behavior */
.form-container {
    max-width: 375px;
    background-color: #F4F6FF;
}

/* Form link styling */
.link {
    --bs-link-color: #2191fb;
    --bs-link-color-rgb: 33, 145, 251;
    --bs-link-hover-color: #1a74c9;
    --bs-link-hover-color-rgb: 26, 116, 201;
    text-decoration: none !important;
}

.link:hover {
    text-decoration: underline !important;
    text-underline-offset: 0.25rem !important;
}

/* Form input styling */

.form-control:focus {
    --bs-form-control-bg: #fff8ea;
    /* need to explicitly set the focus styles for 
    .form-control border/glow ring if not using scss */
    border-color: #fdb515;
    box-shadow: 0 0 0 0.25rem rgba(253, 181, 21, 0.75);
}

.form-control:hover {
    /* --bs-form-control-bg: #fff8e890; */
    border-color: #fdb515AA;
}

/* custom btn-primary styling */
.login-btn-main {
    --bs-btn-color: #FFF;
    --bs-btn-font-weight: 600;
    --bs-btn-bg: #66aa44;
    --bs-btn-border-color: #66aa44;

    --bs-btn-hover-color: #FFF;
    --bs-btn-hover-bg: #75b357;
    --bs-btn-hover-border-color: #528836;

    --bs-btn-focus-color: #FFF;
    --bs-btn-focus-bg: #66aa44;
    --bs-btn-focus-border-color: #528836;
    --bs-btn-focus-shadow-rgb: 102, 170, 68; 
    --bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--bs-btn-focus-shadow-rgb), 0.5);

    --bs-btn-active-color: #FFF;
    --bs-btn-active-bg: #5c993d;
    --bs-btn-active-border-color: #5c993d;
}

/* use custom hover styling when focused (override bootstrap behavior) */
.login-btn-main:focus:not(:hover) {
    background-color: var(--bs-btn-focus-bg);
    border-color: var(--bs-btn-focus-border-color);
    color: var(--bs-btn-focus-color);
}

.login-btn-alt {
    --bs-btn-color: #000;
    --bs-btn-font-weight: 500 !important;
    --bs-btn-bg: #FFF !important;
    --bs-btn-border-color: #cccccc;

    --bs-btn-hover-color: #000;
    --bs-btn-hover-bg: #e6e6e6;
    --bs-btn-hover-border-color: #b3b3b3;

    --bs-btn-focus-shadow-rgb: 102, 102, 102; 
    --bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--bs-btn-focus-shadow-rgb), 0.25);

    --bs-btn-active-color: #FFF;
    --bs-btn-active-bg: #000;
    --bs-btn-active-border-color: #F4F6FF;
}


/* or text inside horizontal rule */
.hr-with-text {
    overflow: hidden;
    text-align: center;
    color: #a9a9a9;
    font-size: 0.8rem;
}

.hr-with-text::before, .hr-with-text::after {
    background-color: #a9a9a9;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}

.hr-with-text::before {
    right: 0.5rem;
    margin-left: -50%;
}

.hr-with-text::after {
    left: 0.5rem;
    margin-right: -50%;
}

  /*for login icons  */
  .x-icon {
    height: 1rem;
    width: 1em;
    top: .25em;
    position: relative;
    float: left;
  }

/* -------------------------------------------------------------------------------------- */
/* Footer Styling */
.login-footer {
    max-height: 50px; /* fixed height for footer */
}

.word-shield-logo {object-fit: contain; height: 20px;}


/* -------------------------------------------------------------------------------------- */
/* Small screens: <=576px */
@media screen and (max-width: 576px) {
    body {
        background-color: #F4F6FF;
    }
    .form-container {
        height: calc(100vh - 60px - 50px); /* Form takes up all available height between header and footer */
        max-width: none; /* Full width */
        overflow-y: auto;
        border-radius: 0 !important;
        box-shadow: none !important;
        border-top: 1px solid #d4d4d4;
        border-bottom: 1px solid #d4d4d4;
    }
    .header-text-underline {
        background-image: linear-gradient(to right,#fdb515, #F4F6FF);
    }
}