body {
    font-family: "Kanit", sans-serif;
    background-color: #fdb515;
}

html, body {
    height: 100%;
}

.umbc-brown {
    color: #fdb515;
    color: #a67a05;
}

.red-underline {
    text-decoration-skip-ink: none;
    text-decoration: underline solid #da2128DD .25rem;
}

.login-header {
    font-size: 2.5em;
    font-style: italic;
    font-weight: 500;
    background-color: #F4F6FF;
    height: 8vh;
    min-height: 70px;
}

.header {
    background-color: #F4F6FF;
    height: 8vh;
    min-height: 70px;
}

.content {
    /* background-color: #fdb515; */
    height: 92vh;
}

.form-login {
    min-width: 325px;
    height: 475px;
    background-color: #F4F6FF;
}

.hr-with-text {
    overflow: hidden;
    text-align: center;
    color: #a9a9a9;
    font-size: 0.8rem;
}

.hr-with-text::before, .hr-with-text::after {
    background-color: #a9a9a9;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}

.hr-with-text::before {
    right: 0.5rem;
    margin-left: -50%;
}

.hr-with-text::after {
    left: 0.5rem;
    margin-right: -50%;
}

@media screen and (max-width: 375px) {
    .login-header {
        font-size: 2rem;
    }
    .header-text {
        padding-top: 5px;
    }
}

  /*for login icons  */
  .x-icon {
    height: 1rem;
    width: 1em;
    top: .25em;
    position: relative;
    float: left;
  }
  